<div id="render-target">

  <div id="container" [ngClass]="{'menu-open':menuOpen}">
    <!--menuOpen-->
    <section id="menu">
      <!--<div class="language-toggle">
        <span class="active">中文</span>
        <a href="#" class="js-toggle-language">中文</a>
      </div>-->
      <div *ngIf="isLogin" class="btns-group-vertical">
        <a href="#" class="js-user-menu btn-secondary">
          3559996@qq.com
        </a>
        <a (click)="logout()" class="js-logout btn-secondary">退出</a>
      </div>
      <!--<div class="btns-group">
        <a routerLink="/auth/signIn" class="btn-secondary">登录</a>
        <a routerLink="/auth/signUp" href="" class="btn-secondary">注册</a>
      </div>-->

      <!--0:审核中|1:审核通过|2:已完成|3:已拒绝-->
      <div *ngIf="isLogin && orders" class="list-todos">
        <a (click)="menu()" routerLink="/admin/list" class="list-todo">
          <span class="icon-lock"></span>

          <span class="count-list">{{orders.all.length}}</span>

          全部
        </a>
        <a (click)="menu()" routerLink="/admin/list" [queryParams]="{status:0}" class="list-todo">
          <span class="icon-lock"></span>

          <span class="count-list">{{orders.resolving.length}}</span>

          审核中
        </a>
        <a (click)="menu()" routerLink="/admin/list" [queryParams]="{status:1}" title="" class="list-todo">
          <span class="icon-lock"></span>

          <span class="count-list">{{orders.resolved.length}}</span>

          通过
        </a>
        <a (click)="menu()" routerLink="/admin/list" [queryParams]="{status:2}" title="" class="list-todo">
          <span class="icon-lock"></span>

          <span class="count-list">{{orders.finished.length}}</span>

          已完成
        </a>
        <a (click)="menu()" routerLink="/admin/list" [queryParams]="{status:3}" title="" class="list-todo">
          <span class="icon-lock"></span>

          <span class="count-list">{{orders.rejected.length}}</span>

          不通过
        </a>
      </div>
    </section>

    <div style="display: none;" class="notifications">
      <div class="notification">
        <span class="icon-sync"></span>
        <div class="meta">
          <div class="title-notification">title</div>
          <div class="description">description</div>
        </div>
      </div>
    </div>

    <div (click)="menu()" class="content-overlay"></div>

    <div id="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
