<div id="render-target">

    <div id="container" class="{{menuOpen}}">
      <section id="menu">
        <div class="language-toggle">
          <!--<span class="active">中文</span>-->
          <a href="#" class="js-toggle-language">中文</a>
        </div>
        <div class="btns-group-vertical">
          <a href="#" class="js-user-menu btn-secondary">
            <!--<span class="icon-arrow-up"></span>-->
            <span class="icon-arrow-down"></span>
            3559996@qq.com
          </a>
          <!--<a class="js-logout btn-secondary">退出</a>-->
        </div>
        <div class="btns-group">
          <a routerLink="/auth/signIn" class="btn-secondary">登录</a>
          <a routerLink="/auth/signUp" href="" class="btn-secondary">注册</a>
        </div>

        <div *ngIf="isLogin" class="list-todos">
          <a class="js-new-list link-list-new">
            <span class="icon-plus"></span>添加
          </a>

          <a href="" title="" class="list-todo">
            <span class="icon-lock"></span>

            <span class="count-list">12</span>

            不好
          </a>
        </div>
      </section>

      <div style="display: none;" class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">title</div>
            <div class="description">description</div>
          </div>
        </div>
      </div>

      <div class="content-overlay"></div>

      <div id="content-container">
        <router-outlet></router-outlet>
      </div>
    </div>

</div>
