<div class="page auth">
  <nav>
    <div class="nav-group">
      <a href="#" class="js-menu nav-item">
        <span class="icon-list-unordered"></span>
      </a>
    </div>
  </nav>

  <div class="content-scrollable">
    <div class="wrapper-auth">
      <div class="at-pwd-form">
        <form [formGroup]="signInForm" (submit)="submit()">
          <h1 class="title-auth">登录</h1>
          <p class="subtitle-auth">压无忧</p>
          <div class="input">
            <input formControlName="username" type="text" placeholder="用户名">
          </div>
          <div class="input">
            <input formControlName="password" type="password" placeholder="密码">
          </div>

          <button type="submit" class="btn-primary">登录</button>
        </form>
        <p>没有账号？点我<a routerLink="/auth/signUp">注册</a></p>
      </div>
    </div>
  </div>
</div>
