
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item">
          <span class="icon-list-unordered"></span>
        </a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <div class="at-pwd-form">
          <form role="form" id="at-pwd-form" class="{{disabled}}" novalidate action="#" method="POST">
            <h1 class="title-auth">Title</h1>
            <p class="subtitle-auth">subTitle</p>
            <div class="input validating error has-success has-feedback">
              <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" placeholder="{{placeholder}}" autocapitalize="none" autocorrect="off">
              <span class="{{iconClass}}"></span>
              <span>error</span>
            </div>

            <div class="list-errors">
              <div class="list-item">{{errorText}}</div>
            </div>

            <button type="submit" class="btn-primary">
              sss
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>


