<div *ngIf="orders" class="page lists-show">
  <nav class="js-title-nav">
    <div class="nav-group">
      <a (click)="menu()" class="js-menu nav-item">
        <span class="icon-list-unordered"></span>
      </a>
    </div>

    <h1 class="js-edit-list title-page">
      <span class="title-wrapper">申请列表</span>
      <span class="count-list">{{orders.length}}</span>
    </h1>

    <div *ngIf="!user.admin" class="nav-group right">
      <div routerLink="/admin/add" class="nav-item">
        <span class="icon-add"></span>
      </div>
    </div>
  </nav>

  <div class="content-scrollable list-items">
    <div [routerLink]="['/admin/item',item._id]" *ngFor="let item of orders" class="list-item todo editing">
      <!--<label class="checkbox">
        <input type="checkbox" checked="{{item.checked}}" name="checked">
        <span class="checkbox-custom"></span>
      </label>-->
      <input type="text" value="{{user.admin ? item.company.name + '-' + item.contact.name : item.company.name}}" readonly>
      <span class="date">{{item.meta.createAt | date : 'yyyy-MM-dd'}}</span>
      <!--0:审核中|1:审核通过|2:已完成|3:已拒绝-->
      <a *ngIf="item.status === 0" style="color: #B5CC18" class="resolving status">审核中</a>
      <a *ngIf="item.status === 1" style="color: #16ab39" class="resolved status">审核通过</a>
      <a *ngIf="item.status === 2" style="color: #2185D0" class="finished status">已完成</a>
      <a *ngIf="item.status === 3" style="color: #DB2828" class="rejected status">已拒绝</a>
      <!--<a *ngIf="user.id === item.uid" class="delete-item" href="#">
        <span class="icon-trash"></span>
      </a>-->
    </div>
    <div *ngIf="orders.length === 0" class="wrapper-message">
      <div class="title-message">无申请内容</div>
      <div class="subtitle-message">您还没有申请过押无忧的服务，<a routerLink="/admin/add">点我申请</a></div>
    </div>
    <!--<div class="wrapper-message">
      <div class="title-message">lists.show.loading</div>
    </div>-->
  </div>
</div>

