<div class="page lists-show">
  <nav class="js-title-nav">
    <form class="js-edit-form list-edit-form">
      <input type="text" name="name" value="{{name}}">
      <div class="nav-group right">
        <a href="#" class="js-cancel nav-item">
          <span class="icon-close js-cancel"></span>
        </a>
      </div>
    </form>
    <div class="nav-group">
      <a href="#" class="js-menu nav-item">
        <span class="icon-list-unordered"></span>
      </a>
    </div>

    <h1 class="js-edit-list title-page">
      <span class="title-wrapper">listName</span>
      <span class="count-list">incompleteCount</span>
    </h1>

    <div class="nav-group right">
      <div class="nav-item options-mobile">
        <select class="list-edit">
          <option disabled selected>
            ss
          </option>
          <option value="public">public</option>
          <option value="private">private</option>
          <option value="delete">delete</option>
        </select>
        <span class="icon-cog"></span>
      </div>
      <div class="options-web">
        <a class="js-toggle-list-privacy nav-item">
          <span class="icon-lock"></span>
          <span class="icon-unlock"></span>
        </a>

        <a class="js-delete-list nav-item">
          <span class="icon-trash"></span>
        </a>
      </div>
    </div>

    <form class="js-todo-new todo-new input-symbol">
      <input type="text" placeholder="lists.show.typeToAdd"/>
      <span class="icon-add js-todo-add"></span>
    </form>
  </nav>

  <div class="content-scrollable list-items">
    <div class="list-item todo editing">
      <label class="checkbox">
        <input type="checkbox" checked="{{todo.checked}}" name="checked">
        <span class="checkbox-custom"></span>
      </label>
      <input type="text" value="todo.text" placeholder=todos.item.taskName>
      <a class="js-delete-item delete-item" href="#">
        <span class="icon-trash"></span>
      </a>
    </div>
    <!--<div class="wrapper-message">
      <div class="title-message">lists.show.noTasks</div>
      <div class="subtitle-message">lists.show.addAbove</div>
    </div>
    <div class="wrapper-message">
      <div class="title-message">lists.show.loading</div>
    </div>-->
  </div>
</div>

