<div *ngIf="orders" class="page lists-show">
  <nav class="js-title-nav">
    <div class="nav-group">
      <a href="#" class="js-menu nav-item">
        <span class="icon-list-unordered"></span>
      </a>
    </div>

    <h1 class="js-edit-list title-page">
      <span class="title-wrapper">申请列表</span>
      <span class="count-list">{{orders.length}}</span>
    </h1>

    <!--<div class="nav-group right">
      <div class="nav-item options-mobile">
        <select class="list-edit">
          <option disabled selected>
            ss
          </option>
          <option value="public">public</option>
          <option value="private">private</option>
          <option value="delete">delete</option>
        </select>
        <span class="icon-cog"></span>
      </div>
    </div>-->

    <form class="js-todo-new todo-new input-symbol">
      <input readonly type="text" placeholder="继续申请"/>
      <span class="icon-add js-todo-add"></span>
    </form>
  </nav>

  <div class="content-scrollable list-items">
    <div [routerLink]="['/admin/item',item._id]" *ngFor="let item of orders" class="list-item todo editing">
      <label class="checkbox">
        <input type="checkbox" checked="{{item.checked}}" name="checked">
        <span class="checkbox-custom"></span>
      </label>
      <input type="text" value="{{item.company.name}}" readonly>
      <span class="date">{{item.meta.createAt | date : 'yyyy-MM-dd'}}</span>
      <!--<a class="delete-item" href="#">
        <span class="icon-trash"></span>
      </a>-->
    </div>
    <div *ngIf="orders.length === 0" class="wrapper-message">
      <div class="title-message">无申请内容</div>
      <div class="subtitle-message">您还没有申请过押无忧的服务，<a routerLink="/admin/add">点我申请</a></div>
    </div>
    <!--<div class="wrapper-message">
      <div class="title-message">lists.show.loading</div>
    </div>-->
  </div>
</div>

